/* generali */
*{
  margin: 0px;
}

div{
  border: 1px solid red;

}

/* header */
.header-box {
  background-color: rgb(71, 115, 211);
  height: 80px;
  background-image: url(../img/pattern.png);
  
}


/* main */

/* articolo  */

.titolo-articolo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.titolo-articolo h1 {
  font-size: 40px;
  line-height: 100%;

}

.autore-articolo {
  font-size: 12px;
}

.testo-grigio {
  color: darkgray;
}

#blu {
  color: rgb(0, 140, 255);
}

.data-articolo {
  font-size: 8px;
}

.didascalia-immagini {
  font-size: 12px;


}

.padding-paragrafi {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.testo-evidenziato {
  background-color: yellow;
}

table {
  text-align: justify;

}

thead {
  background-color: rgb(110, 144, 253);

}



.td-azzurro {
  background-color: rgb(127, 225, 255);
}